<a href="https://colab.research.google.com/github/SanjanaTikare117/Creating-Patterns-using-Python/blob/main/lab7_pip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = 4
for i in range(n):
  print('*',end=" ")

* * * *

In [ ]:
n = 4
for i in range(n):
  print('*')

*
*
*
*

In [ ]:
n = 4
for i in range(n):
  for j in range(n):
   print('*',end=" ")
  print('*')

* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n=4
for i in range(n):
   for j in range(n):
     print('*',end=" ")
     print()

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [ ]:
n = 4
for i in range(n):
  for j in range(i+1):
   print('*',end=" ")
  print()

*
* *
* * *
* * * *

In [ ]:
n = 4
for i in range(n):
  for j in range(4-i):
   print('*',end=" ")
  print()

* * * *
* * *
* *
*

In [ ]:

print('multiplication table')
for i in range(1, 11, 1):
  for j in range(1, 6, 1):
    print(format(i*j, "4d"), end=" ")
  print()

multiplication table
   1    2    3    4    5
   2    4    6    8   10
   3    6    9   12   15
   4    8   12   16   20
   5   10   15   20   25
   6   12   18   24   30
   7   14   21   28   35
   8   16   24   32   40
   9   18   27   36   45
  10   20   30   40   50

In [ ]:
n=int(input('enter the number'))
for i in range(n):
  for j in range(n-i):
    print('9',end=" ")
  print()

enter the number9
9 9 9 9 9 9 9 9 9
9 9 9 9 9 9 9 9
9 9 9 9 9 9 9
9 9 9 9 9 9
9 9 9 9 9
9 9 9 9
9 9 9
9 9
9

In [ ]:
n = 4
for i in range(n):
  for j in range(i+1):
   print('*',end=" ")
  print()
for i in range(n):
  for j in range(n-i):
   print('*',end=" ")
  print()

*
* *
* * *
* * * *
* * * *
* * *
* *
*

In [ ]:
n = 4
for i in range(n):
  for j in range(i+1):
   print('*',end=" ")
  print()
for i in range(n):
  for j in range(n-i):
   print('*',end=" ")
  print()
for i in range(n):
  for j in range(i+1):
    print(end=' ')
  print()
for i in range(n):
  for j in range(n-i):
   print(end=' ')
  print()

*
* *
* * *
* * * *
* * * *
* * *
* *
*

In [ ]:
l1=["red","blue","yellow","black"]
len(l1)

4

In [ ]:
import random
l = list(range(5))
print(l)
# [0, 1, 2, 3, 4]

random.shuffle(l)
print(l)
# [1, 0, 4, 3, 2]

[0, 1, 2, 3, 4]
[1, 4, 3, 0, 2]